[user]
	name = Martin Michalec
	email = martin.michalec.2003@gmail.com
[core]
	editor = nvim
	pager = diff-so-fancy | less -RFX
	askpass = /home/martinmake/.local/bin/tools/git-askpass
[credential]
	helper = cache --timeout 1300
	username = martinmake
[credential "https://github.com"]
	username = martinmake
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
	conflictstyle = diff3
[mergetool "diffmerge"]
	cmd = "diffmerge --mergre --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[hub]
	protocol = https
[push]
	followTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
