#    ============================================================
#
#
#     ██████╗██████╗  ██████╗ ███╗   ██╗████████╗ █████╗ ██████╗
#    ██╔════╝██╔══██╗██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔══██╗
#    ██║     ██████╔╝██║   ██║██╔██╗ ██║   ██║   ███████║██████╔╝
#    ██║     ██╔══██╗██║   ██║██║╚██╗██║   ██║   ██╔══██║██╔══██╗
#    ╚██████╗██║  ██║╚██████╔╝██║ ╚████║   ██║   ██║  ██║██████╔╝
#     ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚═════╝
#
#
#    ============================================================

# ┌────────── minute
# │ ┌──────── hour
# │ │ ┌────── day of month
# │ │ │ ┌──── month
# │ │ │ │ ┌── day of week
# │ │ │ │ │
# * * * * * command

# */30 * * * * source ~/.local/bin/cron/connect-dbus; ~/.local/bin/cron/sync-mail
