*
{
    background-color: #000000 !important;
               color: #ffffff;
}
#carbonads
{
	visibility: hidden !important;
}
.portal li a
{
    color: #ff00ff !important;
}
a
{
    color: #00ffff !important;
}
li a
{
    color: #ff0000 !important;
}
