pre
{
    background-color: #000000 !important;
    color: #ffffff !important;
}

.details
{
    background-color: #000000 !important;
    color: #ffffff !important;
}

.opt
{
    background-color: #000000 !important;
    color: #ff0000 !important;
}

.opt-bottom
{
    background-color: #000000 !important;
    color: #ffa500 !important;
}
