*
{
    background-color: #000000 !important;
               color: #ffffff !important;
}
#mw-panel .portal li a,
h1,
.tocnumber
{
    color: #ff00ff !important;
}
a
{
    color: #00ffff !important;
}
.vectorTabs li a
{
    color: #ff0000 !important;
}
input, ::placeholder
{
   color: #ff0000 !important;
}
img
{
    background-color: #ffffff !important;
}
.mwe-math-mathml-inline, .mwe-math-mathml-a11y, .mwe-math-fallback-image-inline
{
	filter: invert(100%) !important;
}
