*
{
    background-color: #000000 !important;
               color: #ffffff;
}
#mw-panel .portal li a,
h1,
.tocnumber, #title
{
    color: #ff00ff !important;
}
a, h2, h3, h4, h5, paper-button, paper-button span, yt-formatted-string
{
    color: #00ffff !important;
}
.vectorTabs li a
{
    color: #ff0000 !important;
}
input, ::placeholder,
#search, html:not(.style-scope)
{
   color: #ff0000 !important;
}
