*::-webkit-scrollbar { display: none !important; }
*
{
	background-color: #000000 !important;
	           color: #ffffff !important;

	text-shadow: None !important;
	background-image: None !important;
}
img
{
	background-color: #ffffff !important;
}
h1, h2, h3, h4, h5, h6
{
	color: #ff00ff !important;
}
input, .btn, ::placeholder
{
	color: #ff0000 !important;
}
a, .btn-link
{
	color: #00ffff !important;
}
#carbonads { visibility: hidden !important; }
#bottom-result-container #spon_links     { display: none !important; }
#bottom-result-container #sponsored_csa1 { display: none !important; }
#bottom-result-container #sponsored_csa2 { display: none !important; }
