#header
{

    background-color: #000000 !important;
    clear: both !important;
    color: #ff0000 !important;

}
#menu
{
    clear: both !important;
    color: #00ffff !important;
    overflow: hidden !important;
    background-color: #000000 !important;
    padding: 0.7ex !important;
    border: 0px !important;
}

a
{
	color: #ff00ff !important;
}

#header a
{
	color: #ffff00 !important;
}

#menu a
{
	color: #00ffff !important;
}
input, ::placeholder
{
   color: #ff0000 !important;
}
